<!DOCTYPE html>
{% load static %}
<html>
<head lang="ru">
    <meta http-equiv="content-type" content=text/html; charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/chat.css' %}">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
     <script type="text/javascript" src="{% static 'static/js/bootstrap.js' %}"></script>
     <script type="text/javascript" src="{% static 'static/js/chat.js' %}"></script>


    <title>Chat-room</title>
</head>
<body>
<div class="container">

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" style="padding:8px 15px;">
                        <h2 style="margin-top: 0"><img alt="Brand" src="{% static 'static/images/icon_64x64.png' %}"
                                                       style="width: 32px;"> Chatroom</h2>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 bkgr" style="height: 700px">
            {% for message in messages %}
                <p class="message" id="{{ message.id }}"><b>{{ message.user }}</b>: {{ message.text }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <div class="row">
                <div class="col-lg-3">
                    <input id="user" name="user" type="text" class="form-control" placeholder="Input your name...">
                </div>
                <div class="col-lg-9">
                    <input id="text" name="text" type="text" class="form-control" placeholder="Input your message...">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <span class="input-group-btn">
                        <button class="btn btn-default my_btn" type="submit" onclick='send_message()'><b>Send</b>
                            <button class="btn btn-default my_btn" type="submit" onclick='update()'><b>test</b>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>